body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #f0f2f5;
}
.link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.link:hover {
    background-color: #45a049;
    transform: translateY(-2px);
    text-decoration: none;
}

button{
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6c06a3;
    padding: 20px;
    color: white;
    border-radius: 8px;
}
.welcome-msg {
    font-size: 18px;
    font-weight: bold;
}
.header h1 {
    margin: 0;
    font-size: 24px;
}

.logout-form {
    margin: 0;
}

.logout-btn {
    background-color: #e74c3c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.container {
    padding: 40px 30px;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
}

.card {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    text-align: center;
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-5px);
}

.card a {
    background-color: #3498db;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    text-decoration: none;
    display: inline-block;
    margin-top: 15px;
}

.card a:hover {
    background-color: #2980b9;
}