<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
    <link rel="stylesheet" th:href="@{/css/Panel.css}">
</head>
<body>

<!-- Header -->
<div class="header">
    <h1>Admin Dashboard</h1>
    <div class="welcome-msg">
        Welcome, <span th:text="${username}">User</span>
    </div>
    <a class="link" th:href="@{/doctor/panel}">Go To Doctor panel</a>
    <form class="logout-form" th:action="@{/user-logout}" method="get">
        <button type="submit" class="logout-btn">Logout</button>
    </form>
</div>


<!-- Main Content -->
<div class="container">
    <div class="card-grid">
        <div class="card">
            <h3>Doctor Registration</h3>
            <a th:href="@{/admin/doctor-registration}">Registration</a>
        </div>
        <div class="card">
            <h3>Test Upload</h3>
            <a th:href="@{/admin/upload_new_test}">Go</a>
        </div>
        <div class="card">
            <h3>Upload lab or hospital</h3>
            <a th:href="@{/admin/add-new-lab-or-hospital}">Go</a>
        </div>
        <div class="card">
            <h3>Type Upload</h3>
            <a th:href="@{/admin/add-new-test-type}">Go</a>
        </div>
        <div class="card">
            <h3>View User Interface</h3>
            <a th:href="@{/doctor-dashboard}">Open</a>
        </div>
        <div class="card">
            <h3>View All User information</h3>
            <a th:href="@{/admin/see-all-user}">View</a>
        </div>
        <div class="card">
            <h3>Add New Role In System</h3>
            <a th:href="@{/admin/add-new-role}">Add Role</a>
        </div>
    </div>
</div>

</body>
</html>
