<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>AlphaHealth Dashboard</title>
  <link rel="stylesheet" th:href="@{/css/DashBoard.css}">
</head>
<body>
<div class="sidebar">
  <h1>ALPHAHEALTH</h1>
  <a class="menu-item" th:href="@{/doctor-dashboard}">Doctor Appointment</a>
  <a class="menu-item" th:href="@{/lab-test-dashboard}">Lab Test Appointment</a>
  <a class="menu-item">Notifications</a>
  <a class="menu-item" th:href="@{/user-history}">History</a>
  <a class="logout-button" th:href="@{/user-logout}">Logout</a>
</div>
<div class="content">
  <div class="header">Welcome back, <span th:text="${username}"></span>

  </div>
  <p>Book an appointment with our doctors.</p>

  <form th:action="@{/doctor-dashboard}" method="get">
    <div class="search-bar">
      <input type="text" name="search" placeholder="Search doctor..." />
    </div>
  </form>


  <div class="doctor-container">
    <div class="doctor-card" th:each="doctor : ${doctors}">
      <img th:src="@{/image/doctor_image.jpg}" alt="Doctor" width="180">
      <h3 th:text="${doctor.getName()}"></h3>
      <p th:text="${'Qulaificatin = '+doctor.getQualification()}"></p>
      <p th:text="${'Specialization = '+doctor.getSpecialization()}"></p>
      <!--<p th:text="${doctor.getStatus()}"></p>
      <p th:text="${'Appointment available = '+doctor.getTotalPossibilityPatient()}"></p>-->
      <button class="btn" th:onclick="|window.location.href='/doctor-appointment-book/${doctor.id}'|">Book Appointment</button>
    </div>
  </div>
  <p>Book an appointment with our doctors.</p>

  <div class="history-table">
    <h2>Doctor Appointment History</h2>
    <table>
      <thead>
      <tr>
        <th>Appointment ID</th>
        <th>Order Date</th>
        <th>Appointment Date</th>
        <th>Status</th>
        <th>Doctor</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="history : ${appointmentHistory}">
        <td th:text="${history.id}"></td>
        <td th:text="${history.getBookingDate()}"></td>
        <td th:text="${history.appointmentDate}"></td>
        <td th:text="${history.getStatus()}"></td>
        <td th:utext="${history.getDoctorName() + '<br/>' + history.getDoctorSpecialization()}"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>
