<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Doctor Panel</title>
  <link rel="stylesheet" th:href="@{/css/Panel.css}">
</head>
<body>

<!-- Header -->
<div class="header">
  <h1>Doctor Dashboard</h1>
  <div class="welcome-msg">
    Welcome, <span th:text="${doctorName}">User</span>
  </div>
  <a class="link" th:href="@{/doctor-dashboard}">Go To Patient Panel</a>
  <form class="logout-form" th:action="@{/user-logout}" method="get">
    <button type="submit" class="logout-btn">Logout</button>
  </form>
</div>

<!-- Main Content -->
<div class="container">
  <div class="card-grid">
    <div class="card">
      <h3>Set Availability</h3>
      <a th:href="@{/doctor/set-availability}">Go</a>
    </div>
  </div>
</div>

</body>
</html>
