<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AlphaHealth Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/DashBoard.css}">
</head>
<body>
<div class="sidebar">
    <h1>ALPHAHEALTH</h1>
    <a class="menu-item" th:href="@{/doctor-dashboard}">Doctor Appointment</a>
    <a class="menu-item" th:href="@{/lab-test-dashboard}">Lab Test Appointment</a>
    <a class="menu-item" th:href="@{/notification-dashboard}">Notifications</a>
    <a class="menu-item" th:href="@{/user-history}">History</a>
    <a class="logout-button" th:href="@{/user-logout}">Logout</a>
</div>
<div class="content">
    <div class="header">Welcome back, <span th:text="${username}"></span></div>
    <p>Book an appointment with our doctors.</p>

    <form th:action="@{/lab-test-dashboard}" method="get">
        <div class="search-bar">
            <input type="text" name="search" placeholder="Search Lab test name..." />
        </div>
    </form>

    <div class="doctor-container">
        <div class="doctor-card" th:each="test : ${allTest}">
            <img th:src="@{${test.imagePath}}" alt="Lab Image" width="200px"/>
            <h3 th:text="${test.testName}"></h3>
            <p th:text="${'Type = '+test.testType.name}"></p>
            <p th:text="${'Price = '+test.price+' tk'}"></p>
            <button class="btn" th:onclick="|window.location.href='/lab-test-appointment-book/${test.id}'|">Book Appointment</button>
        </div>
    </div>

    <div class="history-table">
        <h2>Test Appointment History</h2>
        <table>
            <thead>
            <tr>
                <th>Appointment ID</th>
                <th>Order Date</th>
                <th>Delivery date</th>
                <th>Test Name</th>
                <th>Hospital Name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="history : ${TestAppointmentHistory}">
                <td th:text="${history.id}"></td>
                <td th:text="${history.getBookingDate()}"></td>
                <td th:text="${history.getDeliveryDate()}"></td>
                <td th:text="${history.getLabTest().testName}"></td>
                <td th:text="${history.getLabName()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
