<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>AlphaHealth Dashboard</title>
  <link rel="stylesheet" th:href="@{/css/DashBoard.css}">
</head>
<body>
<div class="sidebar">
  <h1>ALPHAHEALTH</h1>
  <a class="menu-item" th:href="@{/doctor-dashboard}">Doctor Appointment</a>
  <a class="menu-item" th:href="@{/lab-test-dashboard}">Lab Test Appointment</a>
  <a class="menu-item">Notifications</a>
  <a class="menu-item" th:href="@{/user-history}">History</a>
  <a class="logout-button" th:href="@{/user-logout}">Logout</a>
</div>
<div class="content">
  <div class="header">Welcome back, <span th:text="${username}"></span></div>

<!--  <div class="search-bar">
    <input type="text" placeholder="Search">
  </div>-->

  <div class="history-table">
    <h2>Doctor Appointment History</h2>
    <table>
      <thead>
      <tr>
        <th>Appointment ID</th>
        <th>Order Date</th>
        <th>Appointment Date</th>
        <th>Status</th>
        <th>Doctor</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="history : ${DoctorAppointmentHistory}">
        <td th:text="${history.getId()}"></td>
        <td th:text="${history.getBookingDate()}"></td>
        <td th:text="${history.getAppointmentDate()}"></td>
        <td th:text="${history.getStatus()}"></td>
        <td th:utext="${history.getDoctorName() + '<br/>' + history.getDoctorSpecialization()}"></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="history-table">
    <h2>Test Appointment History</h2>
    <table>
      <thead>
      <tr>
        <th>Appointment ID</th>
        <th>Order Date</th>
        <th>Delivery date</th>
        <th>Test Name</th>
        <th>Hospital Name</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="history : ${TestAppointmentHistory}">
        <td th:text="${history.id}"></td>
        <td th:text="${history.getBookingDate()}"></td>
        <td th:text="${history.getDeliveryDate()}"></td>
        <td th:text="${history.getLabTest().testName}"></td>
        <td th:text="${history.getLabName()}"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>
